{% extends "blank.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h6 class="mb-4"></h6>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ชื่อ</th>
                <th scope="col">นามสกุล</th>
                <th scope="col">เพศ</th>
                <th scope="col">อายุ</th>
                <th scope="col">ระดับการศึกษา</th>
                <th scope="col">แผนกที่สังกัด</th>
              </tr>
            </thead>
            <tbody>
          {% for class in detail %}
              <tr>
                <td>{{class.detail_name }}</td>
                <td>{{class.detail_lastname }}</td>
                <td>{{class.detail_gender}}</td>
                <td>{{class.detail_age}}</td>
                <td>{{class.detail_education}}</td>
                <td>{{class.detail_department}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
  {% endblock content %}